#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10px;
}

#contato .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    text-align: center;
}

#contato img {
    max-width: 4.375rem;
    margin: 0.313rem;
}

#contato a {
    text-decoration: none;
}

.box-contato {
    background-color: #151515;
    border: 0.063rem solid #242424;
    border-radius: 0.938rem;
    padding: 20px;
    box-shadow: 0.125rem 0.125rem 0.625rem #151515;
    transition: all .8s ease;
}

.box-contato:hover {
    box-shadow: 0.125rem 0.125rem 0.625rem var(--aqua);
}

.box-contato h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 0.313rem;
}

.box-contato p {
    font-size: 1em;
    font-weight: 600;
}

.linkedin img {
    transform: scale(1.1);
}

.box-contato:hover img {
    transform: scale(1.02);
}

.linkedin:hover img {
    transform: scale(1.12);
}