@charset "UTF-8";

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    color: var(--textcolor);
}

body { 
    background-color: var(--bgcolordark);
    color: var(--textcolor);
    transition: all .3s ease;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 12.1vh;
    border-bottom: 2px solid var(--aqua);
    animation: animation-border 1.5s ease-in-out infinite alternate;
}

/* Navegação */
#btn-mobile {
    display: none;
}

#menu {
    display: flex;
    align-items: center;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin: 0.938rem 0.8rem;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.tema span {
    display: none;
}

.tema {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
}

.tema .bi-moon-fill {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    padding: 16px;
    position: absolute;
    top: -2px;
    left: 0;

    border: 1px solid;
    border-radius: 50%;
}

.tema .bi-sun-fill {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em;
    width: 30px;
    height: 30px;
    padding: 16px;
    position: absolute;
    top: -2px;
    left: 0;

    border: 1px solid;
    border-radius: 50%;
}

.logo {
    margin: 10px 5rem 0.313rem 2rem;
}

.logo img {
    width: 100%;
    transform: scale(2);
}

/* Section do inicio */
#inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 1.875rem;
    gap: 20px;
}

#inicio h1 {
    font-size: 1.7em;
    font-family: "Poppins";
    font-weight: 400;
    letter-spacing: 2px;
}

#inicio .nome {
    color: #7719b9;
    font-size: 1.5em;
    font-family: "Inter";
    text-decoration: 1px underline;
    text-underline-offset: 4px;
    letter-spacing: 1px;
    font-weight: 500;
}

#inicio aside {
    margin-left: 3rem;
}

#inicio div img {
    width: 85%;
    filter: drop-shadow(0 0 8px #6A0DAD) brightness(90%);
}

/* Botão de ir ao GitHub */
#inicio aside a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.5rem;
    margin: 0.625rem 0 0 0;
    width: 12.5rem;
    background-color: var(--bgbtncolordark);
    box-shadow: 0.063rem 0.063rem 0.938rem var(--bgbtncolordark);
    border-radius: 0.625rem;
    transition: all .5s ease-in-out;
}

#inicio aside a:hover {
    box-shadow: 0.313rem 0.313rem 1.25rem var(--aqua);
    background-color: var(--hoverbgbtncolordark);
}

#inicio aside a img {
    width: 2.5rem;
    transform: scale(1.3);
    filter: brightness(20);
}

#inicio aside a:hover img {
    filter: brightness(0);
}

section {
    opacity: 0;
    transform: translateX(-25vw);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

section.active {
    opacity: 1;
    transform: translateX(0);
}

@keyframes animation-border {
    0% {
        border-color: #6a0dad;
    }
    25% {
        border-color: #612cb2;
    }
    50% {
        border-color: #5650b8;
    }
    75% {
        border-color: #4a77bf;
    }
    100% {
        border-color: #2fcfcf;
    }
}