#projetos {
    display: flex;
    justify-content: center;
    padding: 0.625rem;
}

/* Div do projeto todo */
.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 2rem 1.5rem;
    background-color: #151515;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--aqua);
    animation: animation-border 1s linear infinite alternate ;
    box-shadow: 0.125rem 0.125rem 0.625rem #2b2b2b;
}

/* "Meus Projetos" */
.projetos h2 {
    font-size: 2.2em;
    font-family: "Poppins";
    margin: 0 0 0.625rem 0;
    color: var(--roxoclaro);
    text-decoration: 1px underline;
    text-underline-offset: 3px;
    letter-spacing: 2px;
}

/* Todos os Projetos */
.all-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.my-project {
    display: flex;
    align-items: center;
    width: 98%;
    height: 43vh;
    gap: 20px;
    transition: all .5s ease;
    box-shadow: 0.125rem 0.125rem 0.625rem #202020;
    border-radius: 0.938rem;
}

.my-project.reverse {
    flex-direction: row-reverse;
}

.my-project:hover {
    box-shadow: 0 0 0.625rem var(--roxoescuro);
} 

/* As imagens dos projetos */
.img-projeto {
    width: 40%;
    height: 100%;
}

.img-projeto img {
    width: 100%;
    height: 100%;
    border-radius: 0.938rem;
    margin-bottom: -0.313rem;
}

.em-breve {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: #1A1A1A;
    border-radius: 0.938rem;
}

.loading {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #434343;
    border-top-color: var(--roxoescuro);
    border-radius: 50%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

/* Informações dos projetos */
.info-pjt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    padding: 0.625rem;
    border-radius: 0 0 0.938rem 0.938rem;
}

.my-project.reverse:nth-child(2n) .info-pjt {
    align-items: flex-end;
}

.titulo-embreve {
    color: var(--roxo);
}

/* Título do Projeto */
.info-pjt h3 {
    font-size: 1.7em;
    font-family: "Poppins";
    margin: 0 0 0.313rem 0;
    text-decoration: 1px underline;
    text-underline-offset: 2px;
    letter-spacing: 1px;
}

.info-pjt .bs {
    color: #EFB43A;
}

.texto-pjt {
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.55rem;
    margin: 0 0 0.938rem 0;
    font-family: "Poppins";
}

.view-pjt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.8rem;
    width: 12.5rem;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Poppins";
    letter-spacing: 2px;
    color: var(--textcolordark);
    border-radius: 0.625rem;
    text-decoration: none;
    background-color: var(--bgbtncolordark);
    box-shadow: 0.063rem 0.063rem 0.938rem var(--bgbtncolordark);
    transition: all .3s ease-in-out;
}

/* Mudar a Color, Background-color e adicionar um box-shadow */
.view-pjt:hover {
    box-shadow: 0.1rem 0.1rem 1.1rem var(--aqua);
    color: var(--textcolorlight);
    background-color: var(--hoverbgbtncolordark);
}

.all-projects .my-project:nth-child(2) .view-pjt,
.my-project:nth-child(3) .view-pjt,
.my-project:nth-child(4) .view-pjt {
    cursor: not-allowed;
}

@keyframes animation-border {
    0% {
        border-color: var(--aqua);
    }
    50% {
        border-color: var(--cian);
    }
    100% {
        border-color: var(--blue);
    }
}