@media screen and (max-width: 1024px) {
    /* Menu Mobile */
    #menu {
        display: block;

        position: absolute;
        width: 100%;
        top: 12.1vh;
        right: 0;
        background-color: rgba(23, 145, 190, 0.4);
        backdrop-filter: blur(10px);
        z-index: 1000;
        text-align: center;
        transition: .6s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.ativo #menu {
        height: calc(70vh - 12.1vh);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a li {
        padding: 0.7rem 0;
        font-size: 1.3em;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
    }

    #hamburguer {
        color: var(--cian);
        width: 60px;
        border-top: 5px solid;
    }

    #hamburguer::after, #hamburguer:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        background: currentColor;
        margin: 12px 0 0 0;
        transition: .6s;
        position: relative;
    }

    #nav.ativo #hamburguer{
        border-top-color: transparent;
    }

    #nav.ativo #hamburguer:before{
        transform: rotate(405deg);
        background: rgb(197, 4, 4);
    }

    #nav.ativo #hamburguer:after{
        transform: rotate(-405deg);
        top: -17px;
        background: rgb(197, 4, 4);
    }
    
    /* Inicio */
    .tema {
        display: flex;
        justify-content: center;
    }

    .tema .fa-moon {
        top: 0.6rem;
    }

    .tema .fa-sun {
        position: relative;
        top: 0.8rem;
    }

    .tema span {
        display: block;
        font-size: 1em;
        margin: 10px;
    }

    nav a {
        font-size: 1.4em;
    }

    .logo {
        margin-left: 2rem;
    }

    .logo img {
        transform: scale(2.5);
    }

    #inicio {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 10px;
        height: 85vh;
        gap: 10px;
    }

    #inicio h1 {
        font-size: 1.6em;
        text-align: center;
    }

    #inicio .nome {
        font-size: 1.5em;
    }

    #inicio aside {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #inicio div img {
        width: 100%;
        margin: 0;
    }

    /* Sobre */
    #sobre {
        padding: 20px;
    }

    .sobre{
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .sobre-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .sobre-texto h2 {
        text-align: center;
    }

    .sobre-texto p {
        max-width: 100%;
        text-align: center;
    }

    .my-img > img {
        filter: grayscale(0);
        max-width: 100%;
    }

    /* Habilidades */
    #habilidades {
        height: 85vh;
        padding: 10px;
    }
    .habilidades {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 85vh;
        padding: 10px;
    }

    #habilidades h2 {
        margin: 10px 0 0 0;
    }

    .sobre-habilidade {
        align-items: center;
        width: 100%;
        margin: 10px;
    }

    .descricao {
        font-size: 1.6em;
    }

    .sobre-habilidade article p {
        font-size: 1.2em;
        text-align: center;
    }

    .icon-habilidade {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        padding: 0;
    }

    .box-hbld {
        width: 110px;
        height: 110px;
    }

    .grafico-sobre-habilidade {
        width: 100%;
        height: 5vh;
    }

    .porcentagem-grafico {
        height: 5vh;
    }

    /* Projetos */
    .all-projects {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .img-projeto img {
        width: 100%;
    }
    
    .em-breve {
        width: 100%;
        height: 20vh;
    }

    /* Contato */
    #contato .container {
        flex-wrap: wrap;
        gap: 20px;
    }

    #contato img {
        width: 60px;
    }

    .box-contato {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    #inicio {
        height: 70vh;
        padding: 20px;
    }

    .sobre {
        height: 75vh;
    }

    #habilidades {
        height: 90vh;
    }

    .sobre-habilidade {
        width: 100%;
    }

    .descricao {
        font-size: 1.2em;
    }

    #contato .container {
        width: 100%;
    }

    footer {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 370px) {
    .sobre {
        height: 82vh;
    }

    #contato {
        height: 40vh;
    }

    #contato img {
        width: 50px;
    }

    .box-contato h2 {
        font-size: 1.3em;
    }

    .box-contato p {
        font-size: 0.8em;
    }
}